<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>SPA</title>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.v6.js"></script>
    <link href="static/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="static/styles/index.css" rel="stylesheet" type="text/css" />

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" />

</head>

<body">
    <a class="test_link" id="view1" href="/" data-link>View 1</a>
    <a class="test_link" id="view2" href="/view2" data-link>View 2</a>

    <div id="app"></div>

    <script type="module" src="templates/index.js"></script>


</body>

</html>